*.dep
*.deps
*.orig
*.rej
*.pc
*.lo
*.o
*.o.cmd
*.la
*.a
*.a.cmd
.libs
.depend
.dirstamp
autom4te.cache
config.h.in~
config.log
config.status
config_done
stamp-h1
/romfs
/romfs/*
/images
/images/*
/stage
/stage/*
/trunk/libs/libssl/openssl-1.0.1/Makefile
/trunk/libs/libssl/openssl-1.0.1/Makefile.bak
